@(s: Student)
@Main1() {

<div class="col-xs-12">
	<div class="container">
		<div class="jumbotron">
			<h2 align="center">-Profil bearbeiten-</h2>
			</br> 
			<form class="form-horizontal" role="form" method="post" name="form"
					action=@routes.Application.bearbeiten()>
			<img src=@routes.Assets.at( "images/login.jpg") alt="Bild"
				class="img-rounded"> </br> </br> <a href="#" class="btn btn-primary btn-xs">Profilbild
				ändern</a>
			

			<h3>Persönliche Daten</h3>
			</br>
			<!--Datepicker mit Jquery-->
			<table class="table table-hover">
				<tr>
					<td>Vorname:</td>
					<td><div class="col-lg-6"><input type = "text" class="form-control" name ="vorname" placeholder = "@s.getVorname"></div></td>
				</tr>
				<tr>
					<td>Nachname:</td>
					<td><div class="col-lg-6"><input type = "text" class="form-control" name="nachname" placeholder = "@s.getNachname"></div></td>
				</tr>
				<tr>
					<td>Geburtsdatum:</td>
					<td><div class="col-lg-6"><input type="date" class="form-control" placeholder="Geburtsdatum" name="bday" id="datepicker" /></div></td>
				</tr>
				
			</table>
			
			

			</br>
			<h3>Studiengang ändern</h3>
			
			<div class="form-group" >
				<div class="col-md-12">
				<label for="sel1"></label> 
				<select class="form-control " name="studiengang" id="sel1" >
								<option selected>@s.getStudiengang</option>
								<option>Angewandte Informatik</option>
								<option>Architektur</option>
								<option>Automobilinformationstechnik</option>
								<option>Bauingenieurwesen</option>
								<option>Betriebswirtschaftslehre</option>
								<option>Wirtschafts- und Sozialwissenschaften</option>
								<option>Elektrotechnik und Informationstechnik</option>
								<option>Gesundheitsinformatik</option>
								<option>Kommunikationsdesign</option>
								<option>Maschinenbau Konstruktion und Entwicklung</option>
								<option>Maschinenbau Entwicklung und Produktion</option>
								<option>Umwelttechnik und Ressourcenmanagement</option>
								<option>Verfahrens- und Umwelttechnik</option>
								<option>Wirtschaftsinformatik</option>
								<option>Wirtschaftsingenieurwesen Bau</option>
								<option>Wirtschaftsingenieurwesen Elektro-
									undInformationstechnik</option>
								<option>Wirtschaftsingenieurwesen Maschinenbau</option>
								<option>Wirtschaftsrecht</option>
								<option>Wirtschaftssprachen Asien und Management China</option>
								<option>Wirtschaftssprache Deutsch und Tourismusmanagement</option>
							</select>
			</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
				<label for="comment"></label>
				<textarea class="form-control" type="text" rows="6" id="comment" name="infos"
					placeholder="weite Informationen..."></textarea>
			</div>
			</div>
			</br>
		<input type="submit" class="btn btn-primary btn-lg" name="name" value="Änderung Speichern" />
				</form>
			</br>
				
				<!-- Suche starten per AJAX =>auf der Seite unten erscheinen die Ergebnisse -->
			<h3>Deine angebotenen Stellen</h3>
			
			<form class="form-horizontal" role="form" method="post" name="form"
					action=@routes.Application.stelleLoeschen()>
		
			<div class="table-responsive">
				<table class="table table-hover">
	
				<tr>
					<th>Studiengang</th>
					<th>Fach</th>
					<th>Tag</th>
					<th>Zeiten</th>
					<th>Stundenlohn</th>
					<th></th>
				</tr>
				
				
				@for((key, stelle) <- s.getStellen){
					
					
					<tr>
					<td>@s.getStudiengang()</td>
					<td>@stelle.getFach()</td>
					<td>@stelle.getTag()</td>
					<td>@stelle.getZeiten()</td>
					<td>@stelle.getStundenLohn() €</td>
					<input type="hidden" name="stelle" value="@key" />
					<td><input type="submit" class="btn btn-primary btn-xs" name="buttonlöschen" value="Löschen" /></td>
					</tr>
					
					
				}
				

			</table>
			</div>
			</form>
			</br>			
		</div>
	</div>
</div>
}
