@(vorname: String, nachname: String, bday: String, email: String, studiengang: String, infos: String)
@Main1() {

<div class="col-xs-12">
	<div class="container">
		<div class="jumbotron">
			</br> <img src=@routes.Assets.at( "images/login.jpg") alt="Bild"
				class="img-rounded">
			<h3>Persönliche Daten</h3>
			<table class="table table-hover">
				<tr>
					<td>Vorname:</td>
					<td>@vorname</td>
				</tr>
				<tr>
					<td>Nachname:</td>
					<td>@nachname</td>
				</tr>
				<tr>
					<td>Geburtsdatum:</td>
					<td>@bday</td>
				</tr>
				<tr>
					<td>E-Mail:</td>
					<td>@email</td>
					
				</tr>
				<tr>
					<td>Studiengang:</td>
					<td>@studiengang</td>
				</tr>
			</table>

	
	<div class="row">
		<div class="col-xs-2">
			<form action="mailto:@email">
				<button type="submit" class="btn btn-primary btn-sm">
					<span class="glyphicon glyphicon-envelope"></span>
						e-Mail</button>
					</form>
					</div>
					
					
					<div class="col-xs-2 col-xs-offset-8">

				<div>
			</div>
		<br>
		</div>
	</div>
			
				</br>
				</br>
				<h3>Weitere Informationen</h3>
				<div>
					 @infos
				</div>
				</br>
				</br>

		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="container">	
		<div class="jumbotron">
		
		<h3>Seine angebotenen Stellen</h3>
		</br>
			
			<table class="table table-hover">
	
				<tr>
					<th>Studiengang</th>
					<th>Fach</th>
					<th>Tag</th>
					<th>Zeiten</th>
					<th>Stundenlohn</th>
					

				</tr>
				
				
				
			</table>
		</div>
	</div>
</div>


}
