
@Main2() {
<div class="col-xs-12">	
<div class="container">
	<div class="jumbotron">    
    	<h2 align="center">-Registrierung-</h2>
      </br>
	  	<h3>Deine Daten</h3>
	 			<div class="bs-example">
				<form class="form-horizontal" role="form" method="post" name="form"
					action=@routes.Application.addStudent()>
					<div class="form-group">
						<div class="col-xs-10">
								<input type="text" class="form-control" id="vorname" placeholder="Vorname" name="vorname" required>
							</div>
							</div>
							<div class="form-group">
			            	<div class="col-xs-10">
			               		 <input type="text" class="form-control" id="nachname" placeholder="Nachname" name="nachname" required>
						   	</div>
						   	</div>
						   	<div class="form-group">
			            	<div class="col-xs-10">
			               		 <input type="text" class="form-control" id="email" placeholder="E-Mail" name="mail" required>
			               		 
			               		 <!-- jquery webtech ueberpruefung abchecken -->
						   	</div>
						   	</div>
						   	<div class="form-group">
							<div class="col-xs-10">
								<input type="password" class="form-control" id="password" placeholder="Passwort" name="passwort" required>
							</div>
							</div>
							<div class="form-group">
							<div class="col-xs-10">
								<input type="password" class="form-control" id="passwordWiederholen" placeholder="PasswortWiederholen" name="passwortWiederholen" required>
							</div>
						</div>
	
				
		</br>
						<input type="submit" class="btn btn-primary btn-md" name="name" value="registrieren" />
    				</form>
	 			</div>
	 			
			</br>
			
      </div>
    </div>
</div>
}	
