@(stellen: List[Stelle]) 
@Main1() {

<div class="col-xs-12">
	<div class="container">
		<div class="jumbotron">
			<h3>Suche</h3>
			<form class="form-horizontal" role="form" method="post" name="form"
				action=@routes.Application.tutorSuchen()>
				<div class="form-group">
					<select class="form-control" id="sel1" name="studiengang">
						<option>-Tutoren im Bereich-</option>
						<option>Angewandte Informatik</option>
						<option>Architektur</option>
						<option>Automobilinformationstechnik</option>
						<option>Bauingenieurwesen</option>
						<option>Betriebswirtschaftslehre</option>
						<option>Wirtschafts- und Sozialwissenschaften</option>
						<option>Elektrotechnik und Informationstechnik</option>
						<option>Gesundheitsinformatik</option>
						<option>Kommunikationsdesign</option>
						<option>Maschinenbau Konstruktion und Entwicklung</option>
						<option>Maschinenbau Entwicklung und Produktion</option>
						<option>Umwelttechnik und Ressourcenmanagement</option>
						<option>Verfahrens- und Umwelttechnik</option>
						<option>Wirtschaftsinformatik</option>
						<option>Wirtschaftsingenieurwesen Bau</option>
						<option>Wirtschaftsingenieurwesen
							Elektro-undInformationstechnik</option>
						<option>Wirtschaftsingenieurwesen Maschinenbau</option>
						<option>Wirtschaftsrecht</option>
						<option>Wirtschaftssprachen Asien und Management China</option>
						<option>Wirtschaftssprache Deutsch und
							Tourismusmanagement</option>
					</select>
				</div>
				<div class="col-xs">
					<input type="text" class="form-control" name="fach"
						placeholder="Fach">
				</div>
				</br>
			

			<input type="submit" id="ergebnis" class="btn btn-primary btn-md"
				value="Suche starten" />
				
	</form>

		</div>

	</div>
</div>



<div class="col-xs-12">
	<div class="container">
		<div class="jumbotron">


			<h3>-Suchergebnis-</h3>
			</br>
			<form class="form-horizontal" role="form" method="post" name="form"
				action=@routes.Application.tutorProfil()>

				<div class="table-responsive">
					<table class="table table-hover">

						<tr>
							<th>Name</th>
							<th>Fach</th>
							<th>Tag</th>
							<th>Zeiten</th>
							<th>Stundenlohn</th>
							<th></th>
						</tr>

						@for(stelle <- stellen){
						<tr>
							<td>@stelle.getName()</td>
							<td>@stelle.getFach()</td>
							<td>@stelle.getTag()</td>
							<td>@stelle.getZeit()</td>
							<td>@stelle.getStundenlohn() €</td>
							<td><input type="radio" name="id"  value="@stelle.getID()" required/></td>
						</tr>
						</tr>
						}

					</table>
					<input type="submit" class="btn btn-primary btn-md" id="ergebnis" name="anzeigen"
						value="Anzeigen" />
				</div>
			</form>
			</br> 

		</div>
	</div>
</div>

}



