@Main1() {

<div class="col-xs-12">
	<div class="container">
    	<div class="jumbotron">    
		  <h3>Trage hier ein was du anbieten möchtest</h3>
		  	</br>
		
		<div class="form-group">
		  <label for="sel1"></label>
		  <select class="form-control" id="sel1">
		   	<option>-Studiengang wählen-</option>
			<option>Angewandte Informatik</option>
			<option>Architektur</option>
			<option>Automobilinformationstechnik</option>
			<option>Bauingenieurwesen</option>
			<option>Betriebswirtschaftslehre</option>
			<option>Wirtschafts- und Sozialwissenschaften</option>
			<option>Elektrotechnik und Informationstechnik</option>
			<option>Gesundheitsinformatik</option>
			<option>Kommunikationsdesign</option>
			<option>Maschinenbau Konstruktion und Entwicklung</option>
			<option>Maschinenbau Entwicklung und Produktion</option>
			<option>Umwelttechnik und Ressourcenmanagement</option>
			<option>Verfahrens- und Umwelttechnik</option>
			<option>Wirtschaftsinformatik</option>
			<option>Wirtschaftsingenieurwesen Bau</option>
			<option>Wirtschaftsingenieurwesen Elektro- undInformationstechnik</option>
			<option>Wirtschaftsingenieurwesen Maschinenbau</option>
			<option>Wirtschaftsrecht</option>
			<option>Wirtschaftssprachen Asien und Management China</option>
			<option>Wirtschaftssprache Deutsch und Tourismusmanagement</option>
		  </select>
		</div>
		
		<div class="form-group">
		  <label for="sel1"></label>
		  <select class="form-control" id="sel1">
			<option>-Semester wählen-</option>
			<option>1</option>
			<option>2</option>
			<option>3</option>
			<option>4</option>
			<option>5</option>
			<option>6</option>
			<option>7</option>
			<option>8</option>
		  </select>
		</div>
</br>
</br>
	
		<div class="form-group">
		  <label class="col-lg-3 control-label ">Geld :</label>
		  <div class="col-lg-9">
		    <div class="form-inline">
		      <div class="form-group ">
		        <div class="col-lg-12">
		          <label class="sr-only" for="geld"></label> 
		          <input type="text" id="geld" name="geld" class="form-control " placeholder="Euro" >
		        </div>
		      </div> 
		    </div>
		  </div>
		</div>
</br>
</br>

   <div class="container">
      <p>Tag auswählen</p>
      <form role="form">
        <label class="radio-inline">
          <input type="radio" name="Tag">Montag</label>
        <label class="radio-inline">
          <input type="radio" name="Tag">Dienstag</label>
        <label class="radio-inline">
          <input type="radio" name="Tag">Mittwoch</label>
		  <label class="radio-inline">
          <input type="radio" name="Tag">Donnerstag</label>
          <label class="radio-inline">
          <input type="radio" name="Tag">Freitag</label>
          <label class="radio-inline">
          <input type="radio" name="Tag">Samstag</label>
          <label class="radio-inline">
          <input type="radio" name="Tag">Sonntag</label>          
      </form>
    </div>


		
		<div class="form-group">
		  <label for="sel1"></label>
		  <select class="form-control" id="sel1">
			  	<option>-Zeit auswählen-</option>
				<option>08.00 - 09.30 Uhr</option>
				<option>09.45 - 11.15 Uhr</option>
				<option>11.30 - 13.00 Uhr</option>
				<option>14.00 - 15.30 Uhr</option>
				<option>15.45 - 17.15 Uhr</option>
				<option>17.30 - 19.00 Uhr</option>
		  </select>
		</div>
		<div class="form-group">
			<label for="comment"></label>
			<textarea class="form-control" rows="5" id="comment" placeholder="weite Informationen..."></textarea>
		</div>
		
	</br>
        <a href="#" class="btn btn-info btn-lg">Deine Stelle online stellen</a>
      </div>
    </div>
	</div>
}