@(v: String, n: String, f: String)
@Main1() {
<style type="text/css">
#GF1{
	font-family: 'Lobster', cursiv;
	font-size: xx-large;
	}
</style>

	<div class="col-xs-12">
	<div class="container">
      <div class="jumbotron">    
    	<h2 align="center">-Web-Technologien-</h2>
      </br>
	</br>
	</br>
	<p align="center"><span id="GF1">if you want to know, who developed this page</span></p>
	<div align="center">
	<input  type="button" id="ergebnis" class="btn btn-primary btn-lg" value="press the Button" />
	</div>
	</br >

	
	</div>
	</div>
	</div>
	
	
	<!-- Hier wird JSON Geladen -->
	<script>
		$("#ergebnis").click(function(){
			$.ajax(
			 	{
					url: "@routes.Assets.at("Daten/Entwickler.json")",
					dataType: "json",
					success: function(json) {
						var html = "<div class='col-xs-12'>"+"<div class='container'>"+"<div class='jumbotron'>"+"<div class='table-responsive'>"+"<h3>"+"Developer"+"</h3>"+"<table class='table table-hover'>"+"<tr>"+
						"<th>"+"Vorname"+"</th>"+"<th>"+"Nachname"+"</th>"+"<th>"+"studiert"+"</th>"+"<th>"+"Semester"+"</th>"+"<th>"+"Wohnort"+"</th>"+
						"</tr>"+"<tr>";
						$.each(json.Entwickler, function(){
							html += "<td>" + this['vorname'] + "</td>";
							html += "<td>" + this['nachname'] + "</td>";
							html += "<td>" + this['studiengang'] + "</td>";
							html += "<td>" + this['semester'] + "</td>";
							html += "<td>" + this['Wohnort'] + "</td>"+"</tr>"+"<tr>";

						});
						html += "</tr>"+"</table>"+"</div>"+"</div>"+"</div>"+"</div>";
						$("#tabelle").html(html);
					}
				
			});
			}
		);
		</script>

<div id="tabelle">
</div>
	
<div id="footer">
 			<div class="navbar navbar-inverse  navbar-fixed-bottom" >
   			 <p class="muted credit"><center id="foot">News: <span id="output" />@v @n bietet @f an.</center></p>
 		</div>	
	
}